<h1>{{title}}</h1>

{{!-- creo una sezione vuota che vado a riempire con le chiamate ajax stile prof --}}
<section id="gamesTiles" class="tiles">
</section>

<script type="text/javascript">
    window.onload = function () {
        if ("{{apiFunction}}" == "/api/favorites")
        {
            let fav = localStorage.getItem('favorites');
            if (fav == null)
                fav = {};
            else
                fav = JSON.parse(fav);

            $.getJSON("{{{apiFunction}}}?id=" + Object.keys(fav).join(","))
                    .done(function (games) {
                        for (gx in games) {
                            $("#gamesTiles").append("<article class=\"style1\">\n" +
                                    "\t\t<span class=\"image\">\n" +
                                    "\t\t\t<img src=\"" + games[gx].cover.url + "\" alt=\"\" />\n" +
                                    "\t\t</span>\n" +
                                    "            <a class=\"game\" href=\"/game/" + games[gx].id + "\">\n" +
                                    "                <h2>" + games[gx].name + "</h2>\n" +
                                    "                <div class=\"content\">\n" +
                                    "                    <p>" + games[gx].genres + "</p>\n" +
                                    "                </div>\n" +
                                    "            </a>\n" +
                                    "        </article>\n");
                        }
                    })
                    .fail(function () {
                        alert("Errore!")
                    });
        }
        else {
            $.getJSON("{{{apiFunction}}}")
                    .done(function (games) {
                        for (gx in games) {
                            $("#gamesTiles").append("<article class=\"style1\">\n" +
                                    "\t\t<span class=\"image\">\n" +
                                    "\t\t\t<img src=\"" + games[gx].cover.url + "\" alt=\"\" />\n" +
                                    "\t\t</span>\n" +
                                    "            <a class=\"game\" href=\"/game/" + games[gx].id + "\">\n" +
                                    "                <h2>" + games[gx].name + "</h2>\n" +
                                    "                <div class=\"content\">\n" +
                                    "                    <p>" + games[gx].genres + "</p>\n" +
                                    "                </div>\n" +
                                    "            </a>\n" +
                                    "        </article>\n");
                        }
                    })
                    .fail(function () {
                        alert("Errore!")
                    });
        }
}
</script>